@import "variables";
@import "tools";

$figure-height: 100px;
$drop-height: 18px;
$drop-gap: 6px;
$drop-margin: 15px;

body {
  color: $primary-color;
  font-family: $primary-font;
  font-size: $body-font-size;
  font-weight: 200;
  line-height: $body-line-height;
  overflow-x: hidden;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $primary-color;
  transition: color 250ms ease-in-out;

  &:hover {
    color: $secondary-color;
  }
}

.btn {
  padding: 10px 20px;
  background-color: #839094;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-weight: 400;
  line-height: 18px;
  transition: opacity 250ms ease-in-out;
  outline: none;
  border: none;

  &:hover {
    color: #fff;
    opacity: .8;
  }
}

.btn-circle {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: #8dcee2;
}

.link {
  cursor: pointer;
  color: #6f7ea5;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}

.barcode-decoder {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &.is-camera {
    .button-container { display: none }
    .camera-container { display: flex }
  }

  &.is-processing {
    .button-container { display: none }
    .loader { display: block }
  }

  &.is-result {
    height: auto;

    .button-container {
      position: fixed;
      bottom: 0;
      z-index: 5;

      .btn {
        margin-bottom: -40px;
      }

      .text-mute,
      .link {
        display: none;
      }
    }
  }

  &.is-message {
    height: 100vh;
    .message { display: block }
  }

  .message {
    text-align: center;
    display: none;
    padding: 0 20px;
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .btn {
    margin-bottom: 15px;
  }

  p {
    margin: 0;
  }
}

.camera-container {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;

  & > .btn {
    max-width: 130px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -65px;
    z-index: 5;
  }

}

.placeholder {
  border: 140px solid rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#video {
  border: none !important;
}

.is-show {
  display: flex;
}

.is-hide {
  display: none;
}

.container {
  padding: 0 20px;
  max-width: 640px;
  margin: 30px auto 0;
}

.product {
  display: flex;
  position: relative;
  font-size: 14px;
  margin-bottom: 70px;

  .image-container {
    height: 100px;
    margin-right: 20px;

    img {
      height: 100%;
    }
  }

  .name {
    font-size: 18px;
    margin: 0;
  }

  .barcode {
    color: $secondary-color;
    float: left;
  }

  .brand {
    float: right;
  }

  .category {
    clear: both;
    margin-bottom: 15px;
  }

  .description {
    margin-bottom: 15px;
  }

  .attributes {
    p {
      margin: 0;
    }
  }
}

.product-btns {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;

  .btn:not(:last-child) {
    margin-right: 15px;
  }
}

.wardrobe {

  &.is-empty .empty {
    display: block;
  }

  .empty {
    display: none;
    text-align: center;
  }
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.loader {
  display: none;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 3px solid rgba(131, 144, 148, 0.2);
  border-right: 3px solid rgba(131, 144, 148, 0.2);
  border-bottom: 3px solid rgba(131, 144, 148, 0.2);
  border-left: 3px solid #839094;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}