  
<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title>Test Barcode</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <main>
      <div class="button-container">
          <a class="btn" id="startButton">Start</a>
          <a class="btn" id="resetButton">Reset</a>
      </div>

      <div class="camera-container" id="camera-container">
          <video id="video" width="600" height="400" style="border: 1px solid gray"></video>
          <div class="placeholder"></div>
      </div>

      <div id="sourceSelectPanel" style="display:none">
          <label for="sourceSelect">Change video source:</label>
          <select id="sourceSelect" style="max-width:400px">
          </select>
      </div>

      <label>Result:</label>
      <pre><code id="result"></code></pre>
      <script src="https://unpkg.com/@zxing/library@0.16.0/umd/index.min.js"></script>
  </main>
</body>

</html>