  
<!doctype html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Test Barcode - Vitaliy Bykovets</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#839094">
</head>

<body>
  <main>
      <section class="barcode-decoder">
          <div class="button-container">
              <a class="btn btn-circle" id="startButton">Scan Code</a>
              <p class="text-mute">OR</p>
              <p id="openWardrobe" class="link">Check your Wardrobe</p>
          </div>

          <div class="camera-container" id="camera-container">
              <button id="back" class="btn btn-circle" type="button">&#8676; Back</button>
              <video id="video" width="600" height="400" style="border: 1px solid gray"></video>
          </div>

          <div id="sourceSelectPanel" style="display:none">
              <label for="sourceSelect">Change video source:</label>
              <select id="sourceSelect" style="max-width:400px">
              </select>
          </div>

          <div class="message">
              <p>Unfortunately, we can't find the product with this barcode.</p>
              <p>Is this <strong><span class="message-barcode"></span></strong> number correct?</p>
              <p>If NO - try scan again, YES - add new product <a class="link">manually</a></p>
          </div>

          <div class="loader"></div>
      </section>

      <section class="result container">

      </section>

      <section class="wardrobe container is-hide">

          <div class="dresser">

          </div>

          <div class="empty">
              <h2>:(</h2>
              <h3>Oops, you don't have items</h3>
              <p>To fill wardrobe scan new items</p>
          </div>

      </section>


      <script src="https://unpkg.com/@zxing/library@0.16.0/umd/index.min.js"></script>
  </main>
</body>

</html>